@tailwind base;
@tailwind components;
@tailwind utilities;

.my-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
   gap: 10px;
}

.overlay::after {
   content: "";
   background: rgba(0, 0, 0, 0.9);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
}

.active > div {
   background-color: orange;
}

.active:hover > div,
.active:hover > div > svg {
   background-color: orange;
}
